<!-- To keep things simple, our view engine is set up to just look in the main directory, and it’s looking for a template called index.ejs -->

<!-- Change index.ejs so that instead of if (user) it has if (currentUser) and instead of user.username, it has currentUser.username. The point is that the variables in res.locals are always available inside of the templates. -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <!-- <h1>hello world!</h1> -->
  <!-- add the login form directly to our index template -->
  <!-- check to see if there is a user defined -->
  <% if (currentUser) {%>
    <!-- offer a welcome message -->
    <h1>WELCOME BACK <%= currentUser.username %></h1>
    <a href="/log-out">LOG OUT</a>
  <% } else { %>
    <!-- show the login form -->
    <h1>please log in</h1>
    <!-- creating error message -->
    <% messages.forEach((msg) =>{ %>
      <p><%= msg %></p>
    <% }) %>
    <!-- action so that form POSTs to /log-in -->
    <form action="/log-in" method="POST">
      <label for="username">Username</label>
      <input name="username" placeholder="username" type="text" />
      <label for="password">Password</label>
      <input name="password" type="password" />
      <button>Log In</button>
    </form>
  <%}%>
</body>
</html>