<!-- To keep things simple, our view engine is set up to just look in the main directory, and it’s looking for a template called index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <!-- <h1>hello world!</h1> -->
  <!-- add the login form directly to our index template -->
  <h1>please log in</h1>
  <!-- action so that form POSTs to /log-in -->
  <form action="/log-in" method="POST">
    <label for="username">Username</label>
    <input name="username" placeholder="username" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <button>Log In</button>
  </form>
</body>
</html>