<!-- To keep things simple, our view engine is set up to just look in the main directory, and it’s looking for a template called index.ejs -->


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <h1>hello world!</h1>
</body>
</html>